<div class="container mt-5">

  <p> <%= link_to 'Voltar', root_path, class: 'my-5' %> </p>

  <div>
    <%= link_to 'Novo cupom avulso', new_single_coupon_path, class: 'btn btn-outline-primary' %>
  </div>

  <h1 class="my-3 text-center"> Cupons disponíveis</h1>
  <div class="row">
    <% @coupons.each do |coupon| %>
      <div class="col-md-4 col-sm-12 mb-3">
        <div class="card">
          <div class="card-header font-weight-bold" >
            <%= link_to coupon.token, coupon %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Desconto: <%= number_to_percentage(coupon.discount_rate, separator: ',', precision: 1)%></li>
            <li class="list-group-item"> Expira dia: <%= l coupon.expire_date%></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>