<div class="text-center">
  <%= link_to 'Novo cupom avulso', new_single_coupon_path, :class => "btn btn-outline-dark btn-lg" %>
</div>

<h1> Cupons disponíveis</h1>
<% @coupons.each do |coupon| %>
  <div>
    <ul>
      <li> <%= link_to coupon.token, coupon %> </li>
      <ul>
        <li> Desconto:<%= coupon.discount_rate%> </li>
        <li> Expira dia <%=coupon.expire_date%> </li>
      </ul>
    </ul>
  </div>
<% end %>

<div>
  <%= link_to 'Voltar', root_path %>
</div>