<div class="container mt-5">
  <p><%= link_to 'Voltar', root_path, class: 'my-5'%></p>
  <%= link_to 'Cadastrar Empresa', new_partner_company_path, class: 'btn btn-outline-primary' %>

  <% if @partner_companies.empty? %>
    <h3> <%= t('.not_found') %> </h3>
  <% end %>

  <h1 class="my-3 text-center"> Empresas parceiras cadastradas </h1>

  <div class="row">
    <% @partner_companies.each do |company| %>
      <div class="col-md-4 col-sm-12 mb-3">
        <div class="card">
          <div class="card-header font-weight-bold">
            <%= link_to company.name, company %>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Desconto: <strong><%= company.discount %></strong></li>
              <% if company.discount_duration_undefined %>
                <li class="list-group-item">Prazo: <strong>indefinido</strong></li>
              <% else %>
                <li class="list-group-item">Prazo: <strong><%= company.discount_duration %></strong></li>
              <% end %>
            </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div>

  </div>
</div>

