<%= "#{@promotion.name} - #{@promotion.token}"%><br/>
<div>
  <% @coupons.each do |coupon| %>
  <b><%= coupon.token %> 
     <% if coupon.usable? %>
      <%=link_to 'Descartar', discard_promotion_coupon_path(@promotion, coupon), method: :post%>
     <% elsif coupon.discarded?%>
     descartado em <%= l coupon.discard_date%> por <%= coupon.discard_user%>
     <%= link_to 'Desfazer descarte', retrieve_promotion_coupon_path(@promotion, coupon), method: :post %></b>
     <% else %>
     jรก foi consumido
     <%end%><br/>
  <% end %>
  <%= link_to 'Voltar', promotion_path(@promotion)%>
</div>
