<div class="container mt-5">
  <p><%= link_to 'Voltar', root_path, class: 'my-5' %></p>
  <%= link_to 'Cadastrar promoção', new_promotion_path, class: 'btn btn-outline-primary' %>

  <h1 class="my-3 text-center">Promoções</h1>

  <div class="row">
    <% @promotions.each do |promotion| %>
      <div class="col-md-4 col-sm-12 mb-3">
        <div class="card">
          <div class="card-header font-weight-bold">
            <%= link_to promotion.name, promotion %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Desconto: <%= number_to_percentage(promotion.discount_rate, separator: ',', precision: 1) %> </li>
            <li class="list-group-item"> Expira dia: <%= l promotion.expire_date%> </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
